.wrapper, html {
margin: 0, auto;
box-sizing: border-box;
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #e6e6e6;
font-family: Arial, Helvetica, sans-serif;
}

.selectionsarea {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    height: 30vh;
}
.youwinlose{
    height: 30vh;
    justify-content: center;
}
.scorearea {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 40vh;
}

.computerscore {
    display: flex;
    flex-direction: column;
}

.playerscore {
    display: flex;
    flex-direction: column;
}

.scores {
    text-align: center;
}

h3 {
    text-align: center;
}

.scores {
    display:flex;
    justify-content: space-around;
    width: 50vw;
    height: 20vh;

}

.notification {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 18px;
}

img {
    height: 25vh;
}

img:hover{
    transform: scale(1.2);
    cursor: pointer;
}